body {
    background-color: #151722;
    font-family: Tajawal;
    color: white;
    margin-top: 100px;
   margin: auto;
   max-width: 800px;
}
img {
    padding: 10px;
    padding-bottom: 50px;
}
.container {
    /* position: absolute; */
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: flex-start;
    /* margin-right: 20px; */
   
}
.side-menu-container {
    font-size: 22px;
    display: block;
    background-color: #7649;
    width: fit-content;
    height: 500px;
    padding: 20px;
    border-radius: 15px;
    /* position: relative; */
    margin: 20px;
}
.data-area{
    display: none;
    background-color: red;
    height: 500px;
    width: 500px;
    margin: 20px;
}
.side-menu-items {
 font-size: 22px;
  display: block;
  background-color: #1C2030;
   width: fit-content;
   height: 500px;
  padding: 20px;
  border-radius: 15px;
  /* position: relative; */
 
}
.menu-items{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 26px;

}
.header{
   display: flex;
   /* justify-self:flex-start ; */
   flex-wrap: wrap;
   align-items: center;
   /* flex-grow: 1; */
   flex-direction: row;
    /* justify-content: center;    */

 
}

.header > div {
    display: table-cell;
    vertical-align: middle;
    border-radius: 16px;
    background-color: #1C2030;
    width: 160px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}

a, a:hover, a:visited {
    text-decoration:none;
    color: white;
}

#php-numbers{
    font-size: 50px;
    font-weight: bold;
}
.body-wrapper {

   
}

#player-data{
    display: none;
    color: white;
}