body {
    background-color: #151722;
    font-family: Tajawal;
    color: white;
    margin-top: 100px;
    margin-right: 20px;
}
img {
    padding: 10px;
    padding-bottom: 50px;
}
.container {
    /* float: right; */
    display: flex;
    flex-grow: 1;
    text-align: center;
    flex-direction: row;
    width: 100%;
    height: 95vh;
   
}
.side-menu {
    font-size: 22px;
    /* align-items: right; */
    background-color: #1C2030;
    /* width: fit-content; */
    height: 80vh;
    padding: 20px;
    border-radius: 15px;
    flex-grow: 1;
    /* float: right; */
}
.menu-items{
    text-align: center;
    font-size: 26px;

}
.header{
   margin-right: 10px;
   display: flex;
   flex-grow: 1;
   flex-direction: row;
   background-color: red;
 
}
#header-users, #header-questions, #header-max-score{
    background-color: #1C2030;
    width: 10vw;
    margin: 20px;
    /* flex: auto; */
    text-align: center;
    /* float: right; */
   
}

.body-wrapper {
    flex-grow: 1;
    background-color: green;
    margin: 20px;
    display: flex;
}
